# Directories #
target/
META-INF/
classes/

# Class Files #
*.class

# Package Files #
*.jar
*.war

######################
# Eclipse
######################
.project
.metadata
.settings
.checkstyle
.classpath
.project

