<Context path="@tomcat.context.path@"
  docBase="@tomcat.docBase@"
  debug="@tomcat.debug@"
  reloadable="@tomcat.reloadable@"
  crossContext="@tomcat.crossContext@"
  antiJARLocking="@tomcat.antiJARLocking@">

  <Resource name="jdbc/nppConnectionFactory"
    auth="Container"
    type="javax.sql.DataSource"
    driverClassName="@jndi.driverClassName@"
    url="@jndi.url.npp@"
    username="@jndi.username.npp@"
    password="@jndi.password.npp@"
    maxActive="@jndi.maxActive@"
    maxIdle="@jndi.maxIdle@"
    maxWait="@jndi.maxWait@"
    defaultAutoCommit="@jndi.defaultAutoCommit@"
    removeAbandoned="@jndi.removeAbandoned@"
    logAbandoned="@jndi.logAbandoned@" />

  <Resource name="jdbc/nppSlaveConnectionFactory"
    auth="Container"
    type="javax.sql.DataSource"
    driverClassName="@jndi.driverClassName@"
    url="@jndi.slave.url.npp@"
    username="@jndi.username.npp@"
    password="@jndi.password.npp@"
    maxActive="@jndi.maxActive@"
    maxIdle="@jndi.maxIdle@"
    maxWait="@jndi.maxWait@"
    defaultAutoCommit="@jndi.defaultAutoCommit@"
    removeAbandoned="@jndi.removeAbandoned@"
    logAbandoned="@jndi.logAbandoned@" />

  <Resource name="jdbc/connectionFactory"
    auth="Container"
    type="javax.sql.DataSource"
    driverClassName="@jndi.driverClassName@"
    url="@jndi.url@"
    username="@jndi.username@"
    password="@jndi.password@"
    maxActive="@jndi.maxActive@"
    maxIdle="@jndi.maxIdle@"
    maxWait="@jndi.maxWait@"
    defaultAutoCommit="@jndi.defaultAutoCommit@"
    removeAbandoned="@jndi.removeAbandoned@"
    logAbandoned="@jndi.logAbandoned@" />

  <Resource name="jdbc/slaveConnectionFactory"
    auth="Container"
    type="javax.sql.DataSource"
    driverClassName="@jndi.driverClassName@"
    url="@jndi.slave.url@"
    username="@jndi.username@"
    password="@jndi.password@"
    maxActive="@jndi.maxActive@"
    maxIdle="@jndi.maxIdle@"
    maxWait="@jndi.maxWait@"
    defaultAutoCommit="@jndi.defaultAutoCommit@"
    removeAbandoned="@jndi.removeAbandoned@"
    logAbandoned="@jndi.logAbandoned@" />

</Context>
