<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                      http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <description>sampleapi Project</description>
  <display-name>sampleapi-1.0.02</display-name>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      /WEB-INF/common-context.xml
      /WEB-INF/integration-context.xml
      /WEB-INF/service-context.xml
      /WEB-INF/facade-context.xml
    </param-value>
  </context-param>

  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>

  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>restServlet</servlet-name>
    <servlet-class>net.arnx.jsonic.web.RESTServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>
      {
        "container": "net.arnx.jsonic.web.extension.SpringContainer"
        debug: true
        mappings: {
          "/{class}": "jp.gmor.research.sampleapi.publicgate.${class}Facade"
        }
      }
      </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
      <servlet-name>restServlet</servlet-name>
      <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>
      org.springframework.web.filter.CharacterEncodingFilter
    </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
  <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AccessLoggingFilter</filter-name>
    <filter-class>
      jp.gmor.research.framework.tools.presentation.web.filter.AccessLoggingFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessLoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>

  <session-config>
    <session-timeout>
      1
    </session-timeout>
  </session-config>

  <resource-ref>
    <description>DB net_dev Connection</description>
    <res-ref-name>jdbc/connectionFactory</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <resource-ref>
    <description>DB net_dev slaveConnection</description>
    <res-ref-name>jdbc/slaveConnectionFactory</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <resource-ref>
    <description>DB npp_search Connection</description>
    <res-ref-name>jdbc/nppConnectionFactory</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <resource-ref>
    <description>DB npp_search slaveConnection</description>
    <res-ref-name>jdbc/nppSlaveConnectionFactory</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

</web-app>
